<div class="card-body p-5">
    <app-task-form (newTaskEvent)="onNewTask($event)"></app-task-form>
    <h2 class="text-center mb-5 gradient-text">
        Mes tâches
    </h2>
    <div *ngFor="let task of tasks" class="list-group-item d-flex justify-content-between align-items-center border rounded mb-2 p-2" [class.completed]="task.completed">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" [checked]="task.completed" (change)="toggleTask(task)">
            <label class="form-check-label ms-2 user-select-none">
                {{ task.title }}
            </label>
        </div>

        <button 
            class="btn btn-danger btn-sm rounded-circle"
            (click)="deleteTask(task)"
        >
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>